.dark_body {
    background-color: #000000;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 75vh;
    scrollbar-width: none;
    transition: .2s;
}

.dark_toggle {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 27px;
    bottom: 17px;
    z-index: 100;
    transition: .2s;
}

.dark_history-prompt-element {
    background-color: #0f0f0f;
    color: #ffffff;
    width: 100%;
    height: auto;
    min-height: 80px;
    padding: 20px;
    font-size: 17px;
    word-break: break-word;
    display: inline-block;
    border-radius: 5px;
    transition: .2s;
}

.dark_history-prompt-element-loading {
    background: linear-gradient(-45deg, #0f0f0f, #0f0f0f, #ff990044, #0f0f0f);
	background-size: 500% 450%;
	animation: gradient 4.20s ease infinite;
    color: #ffffff;
    width: 100%;
    height: auto;
    min-height: 80px;
    padding: 20px;
    padding-right: 25px;
    font-size: 17px;
    word-break: break-word;
    display: inline-block;
    /* filter: drop-shadow(2px 2px 2px #f1f1f181); */
    border-radius: 5px;
    transition: .4s;
    scroll-margin-top: 150px;
    /* border-bottom: 1px solid #0000; */
    border-radius: 10px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	70% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.dark_history-tokens-element {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 20px;
    padding-bottom: 40px;
    overflow: auto;
    word-break: break-word;
    display: inline-block;
    font-size: 17px;
    transition: .2s;
}

.dark_text-input-closed {
    background-color: #000000;
    border-top: 1px solid #0e0e0e;
    color: #ffffff;
    position: fixed;
    bottom: 50px;
    width: 100%;
    min-height: 0px;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 17px;
    scrollbar-width: none;
    z-index: 96;
    opacity: 0%;
}

.dark_text-input {
    background-color: #000000;
    color: #ffffff;
    border-top: 1px solid #0e0e0e;
    position: fixed;
    bottom: 90px;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 500px;
    min-height: 70px;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 17px;
    scrollbar-width: none;
    z-index: 99;
    opacity: 100%;
    word-break: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
    transition-property: background-color border-top opacity min-height;
    transition-duration: .2s;
}

.dark_prompt-actions {
    border-top: 1px solid #0e0e0e;
    background-color: #000000;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0px;
    z-index: 100;
    opacity: 100%;
    transition: .2s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dark_actions {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .2s;
}

.dark_navbutton {
    color: #969696;
    display: inline-block;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    height: 40px;
    transition: .2s;
}

.dark_navbuttonselected {
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    height: 40px;
    transition: .2s;
}

.dark_navbuttondisabled {
    color: #171717;
    display: inline-block;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    height: 40px;
    transition: .2s;
}